<img class="bg-img" src="https://unsplash.it/{{!data.docWidth}}/300/?random">
<div class="intro">
  <h2>{{!data.title}}</h2>
  <div>{{!data.subtitle}}</div>
  <img src="../assets/img/cheft.jpg">
</div>

<script>
  module.exports = {
    data: {
      title: 'Cheft 的博客',
      subtitle: '不会剽窃的程序员不是好师傅'
    },
    listen: {
      init: function() {
        this.data.docWidth = $(document).width()
      }
    }
  }
</script>

<style scoped>
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.intro {
  position: absolute;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 300px; 
}

.intro h2 {
  padding-top: 60px;
}

.intro img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px solid #ffffff;
  position: absolute;
  top: 250px;
  left: 50%;
  margin-left: -50px;
}
</style>
